<h2>
	<span class="glyphicon glyphicon-tower"></span> Les jeux
</h2>
<div class="row">
	<div class="col-lg-3">
		<input type="text" ng-model="searchGame" class="form-control" placeholder="Filter">
	</div>
	<div class="col-lg-3">
		<a href="#/games/new" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Nouveau
		</a>
	</div>
	<div class="col-lg-6">
		<div class="pull-right" ng-hide="games">
			<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Date</th>
			<th>Plateforme</th>
			<th>Mise en avant</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="game in games | filter:searchGame">
			<td>{{game.name}}</td>
			<td ng-bind-html="ensureP(game.description).truncate(50)"></td>
			<td>{{game.pubdate | date:'dd/MM/yyyy'}}</td>
			<td><div scoreboard-minimarketlinks plateform="{{game.plateform}}"></div></td>
			<td><div scoreboard-checkicon featured="{{game.featured}}"></div></td>
			<td><a href="#/games/edit/{{game.idgame}}" title="Editer"><span class="glyphicon glyphicon-edit"></span></a></td>
			<td><a href="" title="Effacer" ng-click='del(game.idgame, game.name)'><span class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
	</tbody>
</table>
