<h2>
	<span class="glyphicon glyphicon-tasks"></span> Les missions
</h2>
<div class="row">
	<div class="col-lg-3">
		<input type="text" ng-model="searchMission" class="form-control" placeholder="Filter">
	</div>
	<div class="col-lg-3">
		<a href="#/missions/new" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Nouveau
		</a>
	</div>
	<div class="col-lg-6">
		<div class="pull-right" ng-hide="missions">
			<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Jeu</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in missions | filter:searchMission">
			<td>{{item.title}}</td>
			<td ng-bind-html="ensureP(item.description).truncate(50)"></td>
			<td>{{item.game.name}}</td>
			<td><a href="#/missions/edit/{{item.idmission}}" title="Editer"><span class="glyphicon glyphicon-edit"></span></a></td>
			<td><a href="" title="Effacer" ng-click='del(item.idmission, item.title)'><span class="glyphicon glyphicon-trash" /></a></td>
		</tr>
	</tbody>
</table>