<h2>
	<img ng-src="api/file/{{curgame.picture}}" class="img-thumbnail" width="140px" /> <span class="glyphicon glyphicon-tower"></span> {{curgame.name}}
</h2>
<div class="pull-right" ng-hide="user.iduser">
	<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
</div>

<form class="form-horizontal" role="form" action="api/game" accept-charset="UTF-8" method="post" enctype="multipart/form-data" ng-upload="complete(content)" ng-upload-loading="startUploading()">
	<input type="hidden" class="form-control" name="idgames" value="{{curgame.idgame}}">
	<div class="form-group">
		<label class="col-lg-2 control-label">Nom du jeu : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="name" placeholder="Entrez le nom du jeu" ng-model="curgame.name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Nom de la monaie : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="coinname" placeholder="Entrez le nom de la monaie" ng-model="curgame.coinname">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Description : </label>
		<div class="col-lg-10">
			<div tiny-mce elem-name="description" elem-id="game_description" content="{{curgame.description}}"></div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Lien PlayStore : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="andmarketlink" ng-model="curgame.andmarketlink">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Lien Apple Store : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="applestorelink" ng-model="curgame.applestorelink">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Mettre en avant : </label>
		<div class="col-lg-10">
			<div class="checkbox">
				<input type="checkbox" name="featured" value="featured" ng-model="curgame.featured">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Plateforme : </label>
		<div class="col-lg-10">
			<div class="checkbox">
				<label><input type="checkbox" name="plateform" value="Android" ng-model="curgame.pf.android"> Android </label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="plateform" value="IPhone" ng-model="curgame.pf.iphone"> IPhone </label>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="plateform" value="Web" ng-model="curgame.pf.web"> Web </label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Screenshot : </label>
		<div class="col-lg-6">
			<input type="file" name="picture">
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-10">
		<a href="#/games" class="btn btn-danger">Cancel</a> <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="$isUploading">
	</div>
</form>
