<h2>
	<span class="glyphicon glyphicon-tasks"></span> {{curmission.title}}
</h2>
<div class="pull-right" ng-hide="games">
	<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
</div>
<form class="form-horizontal" role="form" action="api/mission" accept-charset="UTF-8" method="post" enctype="multipart/form-data" ng-upload="complete(content)" ng-upload-loading="startUploading()">
	<input type="hidden" class="form-control" name="idmission" value="{{curmission.idmission}}"> <input type="hidden" class="form-control" name="idgame" value="{{curmission.game}}">
	<div class="form-group">
		<label class="col-lg-2 control-label">Nom : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="title" placeholder="Entrez le nom de la mission" ng-model="curmission.title">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Jeu associé : </label>
		<div class="col-lg-10">
			<select ng-model="curmission.game" ng-options="o.idgame as o.name for o in games" required>
				<option style="display: none" value="">select a game</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Description : </label>
		<div class="col-lg-10">
			<div class="content">
				<div tiny-mce elem-id="mission_description" elem-name="description" content="{{curmission.description}}"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-2"></div>
		<div class="col-lg-10">
			<a href="#/missions" class="btn btn-danger">Cancel</a> <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="$isUploading">
		</div>
	</div>
	<div class="form-group" ng-show="curmission.idmission">
		<h4>Nouvelle règle</h4>
		<div class="col-md-1">
			<input type="text" ng-model="rule.idrule" size="3" />
		</div>
		<div class="col-md-10">
			<textarea rows="1" cols="95" ng-model="rule.description"></textarea>
		</div>
		<div class="col-md-1" ng-hide="rule.idrule">
			<button type="button" class="btn btn-primary" ng-click='addNewRule()'>
				<span class="glyphicon glyphicon-plus"></span> Add
			</button>
		</div>
		<div class="col-md-1" ng-show="rule.idrule">
			<button type="button" class="btn btn-primary" ng-click='addNewRule()'>
				<span class="glyphicon glyphicon-save"></span> Update
			</button>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rule in curmission.rules">
					<td>{{rule.description.truncate(50)}}</td>
					<td><a href="" title="Editer" ng-click='editRule(rule.idrule)'><span class="glyphicon glyphicon-edit" /></a></td>
					<td><a href="" title="Effacer" ng-click='delRule(rule.idrule)'><span class="glyphicon glyphicon-trash" /></a></td>
				</tr>
			</tbody>
		</table>
	</div>



</form>