<h2>
	<span class="glyphicon glyphicon-comment" ></span> {{curnews.title}}
</h2>
<div class="pull-right" ng-hide="user.iduser">
	<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
</div>
<form ng-upload="complete(content)" ng-upload-loading="startUploading()" class="form-horizontal" action="api/news" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
	<input type="hidden" name="idnews" value="{{curnews.idnews}}"> <input type="hidden" name="author" value="{{user.iduser}}">
	<div class="form-group">
		<label class="col-lg-2 control-label">Titre : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="title" placeholder="Entrez le titre" ng-model="curnews.title" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Contenu : </label>
		<div class="col-lg-10">
			<div tiny-mce elem-id="news_content" elem-name="content" content="{{curnews.content}}"></div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Auteur : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="newswriter" readonly="readonly" value="{{user.email}}" />
		</div>
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-10">
		<a href="#/news" class="btn btn-danger">Cancel</a> <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="$isUploading">
	</div>
</form>