<h2>
	<img ng-src="api/file/{{curitem.picture}}" class="img-thumbnail" width="140px"  ng-show="curitem.picture"/> <span class="glyphicon glyphicon-shopping-cart"></span> {{curitem.title}}
</h2>
<div class="pull-right" ng-hide="games">
	<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
</div>
<form class="form-horizontal" role="form" action="api/shop" accept-charset="UTF-8" method="post" enctype="multipart/form-data" ng-upload="complete(content)" ng-upload-loading="startUploading()">
	<input type="hidden" class="form-control" name="idstoreitem" value="{{curitem.idstoreitem}}"> <input type="hidden" class="form-control" name="idgame" value="{{curitem.game}}">
	<div class="form-group">
		<label class="col-lg-2 control-label">Nom de l'item : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="title" placeholder="Entrez le nom de l'item" ng-model="curitem.title">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Jeu associé : </label>
		<div class="col-lg-10">
			<select ng-model="curitem.game.idgame" ng-options="o.idgame as o.name for o in games" required>
				<option style="display: none" value="">select a game</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Prix : </label>
		<div class="col-lg-2">
			<div class="input-group">
				<input type="number" class="form-control" name="price" ng-model="curitem.price" min="0" max="99" required> <span class="input-group-addon">€</span>
			</div>
		</div>
		<div class="col-lg-8">
			<span class="error" ng-show="NewItemManagerCtrl.input.$error.required"> Required!</span> <span class="error" ng-show="NewItemManagerCtrl.input.$error.number"> Not valid number!</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Description : </label>
		<div class="col-lg-10">
			<div class="content">
			<div tiny-mce elem-id="shop_description" elem-name="description" content="{{curitem.description}}"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Actif : </label>
		<div class="col-lg-10">
			<div class="checkbox">
				<input type="checkbox" name="active" value="active" ng-model="curitem.active">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Icône : </label> <input type="file" name="picture">
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-10">
		<a href="#/shop" class="btn btn-danger">Cancel</a> <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="$isUploading">
	</div>
</form>