<h2>
	<span class="glyphicon glyphicon-comment"></span> Les news
</h2>
<div class="row">
	<div class="col-lg-3">
		<input type="text" ng-model="searchNews" class="form-control" placeholder="Filter">
	</div>
	<div class="col-lg-3">
		<a href="#/news/new" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Nouveau
		</a>
	</div>
	<div class="col-lg-6">
		<div class="pull-right" ng-hide="news">
			<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Date de publication</th>
			<th>Titre</th>
			<th>Contenu</th>
			<th>Auteur</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="n in news | filter:searchNews">
			<td>{{n.pubdate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
			<td>{{n.title}}</td>
			<td ng-bind-html="ensureP(n.content).truncate(50)"></td>
			<td>{{n.user.forname}} {{n.user.name}}</td>
			<td><a href="" title="Détail" ng-click='show(n.idnews)'><span class="glyphicon glyphicon-search" /></a></td>
			<td><a href="#/news/edit/{{n.idnews}}" title="Editer"><span class="glyphicon glyphicon-edit" /></a></td>
			<td><a href="" title="Effacer" ng-click='del(n.idnews, n.title)'><span class="glyphicon glyphicon-trash" /></a></td>
		</tr>
	</tbody>
</table>
