<h2>
	<img ng-src="api/file/{{curuser.avatar}}" class="img-thumbnail" width="140px" /> <span class="glyphicon glyphicon-user"></span> {{curuser.name}}
</h2>
<div class="pull-right" ng-hide="user.iduser">
	<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
</div>
<form ng-upload="complete(content)" ng-upload-loading="startUploading()" class="form-horizontal" role="form" action="api/users" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
	<input type="hidden" class="form-control" name="iduser" value="{{curuser.iduser}}">
	<div class="form-group">
		<label class="col-lg-2 control-label">Nom : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="name" placeholder="Entrez le nom du joueur" ng-model="curuser.name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Prénom : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="forname" placeholder="Entrez le prénom du joueur" ng-model="curuser.forname">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Pseudo : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="pseudo" placeholder="Entrez le pseudo du joueur" ng-model="curuser.pseudo">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">E-Mail : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="email" placeholder="Entrez l'email du joueur" ng-model="curuser.email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Date de naissance : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="birthdate" id="birthdate" value="{{curuser.birthdate | date:'dd/MM/yyyy'}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Address : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="address" placeholder="Enter your address" ng-model="curuser.address">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Zipcode : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="zipcode" placeholder="Enter your zipcode" ng-model="curuser.zipcode">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">City : </label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="city" placeholder="Enter your city" ng-model="curuser.city">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Mot de passe (pour le modifier uniquement) : </label>
		<div class="col-lg-10">
			<input type="password" class="form-control" name="passwd">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Administrateur : </label>
		<div class="col-lg-10">
			<div class="checkbox">
				<input type="checkbox" name="admin" value="admin" ng-model="curuser.admin">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Auteur : </label>
		<div class="col-lg-10">
			<div class="checkbox">
				<input type="checkbox" name="author" value="author" ng-model="curuser.author">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Avatar : </label> <input type="file" name="picture">
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-10">
		<a href="#/users" class="btn btn-danger">Cancel</a> <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="$isUploading">
	</div>
</form>
