<h2>
	<span class="glyphicon glyphicon-shopping-cart"></span> Les articles
</h2>
<div class="row">
	<div class="col-lg-3">
		<input type="text" ng-model="searchItem" class="form-control" placeholder="Filter">
	</div>
	<div class="col-lg-3">
		<a href="#/shop/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nouveau </a>
	</div>
	<div class="col-lg-6">
		<div class="pull-right" ng-hide="items">
			<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
		</div>
	</div>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Prix</th>
			<th>Jeu</th>
			<th>Actif</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items | filter:searchItem">
			<td>{{item.title}}</td>
			<td ng-bind-html="ensureP(item.description).truncate(50)"></td>
			<td>{{item.price}}</td>
			<td>{{item.game.name}}</td>
			<td><div scoreboard-checkicon featured="{{item.active}}"></div></td>
			<td><a href="#/shop/edit/{{item.idstoreitem}}" title="Editer"><span class="glyphicon glyphicon-edit"></span></a></td>
			<td><a href="" title="Effacer" ng-click='del(item.idstoreitem,  item.title)'><span class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
	</tbody>
</table>
