<h2>
	<span class="glyphicon glyphicon-user"></span> Les gamers
</h2>
<div class="row">
	<div class="col-lg-3">
		<input type="text" ng-model="searchUser" class="form-control" placeholder="Filter">
	</div>
	<div class="col-lg-3">
		<a href="#/users/new" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span> Nouveau
		</a>
	</div>
		<div class="col-lg-6">
			<div class="pull-right" ng-hide="users">
				<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
			</div>
		</div>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Pseudo</th>
			<th>E-mail</th>
			<th>Date d'inscription</th>
			<th>Date de naissance</th>
			<th>Admin</th>
			<th>Auteur</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in users | filter:searchUser">
			<td>{{u.name}}</td>
			<td>{{u.forname}}</td>
			<td>{{u.pseudo}}</td>
			<td>{{u.email}}</td>
			<td>{{u.creadate | date:'dd/MM/yyyy'}}</td>
			<td>{{u.birthdate | date:'dd/MM/yyyy'}}</td>
			<td><div scoreboard-checkicon featured="{{u.admin}}" ></div></td>
			<td><div scoreboard-checkicon featured="{{u.author}}" ></div></td>
			<td><a href="#/users/edit/{{u.iduser}}" title="Editer" ><span class="glyphicon glyphicon-edit" ></span></a></td>
			<td><a href="" title="Effacer" ng-click='del(u.iduser, u.forname + " " +u.name)'><span class="glyphicon glyphicon-trash" ></span></a></td>
		</tr>
	</tbody>
</table>
