
<h2><span class="glyphicon glyphicon-wrench"></span>  Panneau d'administration</h2>
<div class="row">
	<div class="col-md-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-user"></i>
			</div>
			<div class="text">
				<var>{{data['nbusers']}}</var>
				<label class="text-muted">Gamers</label>
			</div>
			<div class="options">
				<a href="#/users" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> Détail</a>
			</div>
		</div>
	</div>
 	<div class="col-md-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-star"></i>
			</div>
			<div class="text">
				<var>614</var>
				<label class="text-muted">page visitées</label>
			</div>
			<div class="options">
				<a href="javascript:;" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> Voir le traffic</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="hero-widget well well-sm">
			<div class="icon">
				<i class="glyphicon glyphicon-shopping-cart"></i>
			</div>
			<div class="text">
				<var>{{data['ndshop']}}</var>
				<label class="text-muted">commandes</label>
			</div>
			<div class="options">
				<a href="#/shopcarts" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-search"></i> Détail</a>
			</div>
		</div>
	</div>
</div>
<div id="map-canvas"></div>
