/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html,body {
	/*	padding-bottom: 40px; */
	color: #5a5a5a;
	height: 100%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: relative;
	z-index: 15;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.main-carousel {
	margin-bottom: 60px;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
	margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */
.main-carousel-caption {
	z-index: 10;
	padding-top: 300px;
	bottom: 0px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
}

/* Declare heights because of positioning of img element */
.main-carousel .item {
	height: 400px;
	background-color: #777;
}

.main-carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	/*	height: 500px;
	width: 760px;*/
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media ( min-width : 768px) {
	/* Remove the edge padding needed for mobile */
	.marketing {
		padding-left: 0;
		padding-right: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
	.featurette-heading {
		font-size: 50px;
	}
}

@media ( min-width : 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

.slideInfoZone {
	position: absolute;
	z-index: 10;
	width: 100%;
	margin: 0px;
	left: 0px;
	bottom: 0px;
	background: none repeat scroll 0% 0% rgb(11, 11, 14);
	text-indent: 0px;
	overflow: hidden;
	padding: 0px;
	padding-bottom: 30px;
}

.slideInfoZone p {
	font-size: 0.8em;
}

.translucent {
	opacity: 0.8;
	background: none repeat scroll 0% 0% rgb(11, 11, 14);
}

.avatar-pic {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(102, 175, 233, 0.6);
}

/* carousel */
.media-carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
	left: -12px;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right {
	right: -12px !important;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
	background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
	background: #333333;
}

.media-carousel img {
	width: 250px;
	height: 100px
}
/* End carousel */
.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

.hero-widget {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hero-widget .icon {
	display: block;
	font-size: 96px;
	line-height: 96px;
	margin-bottom: 10px;
	text-align: center;
}

.hero-widget var {
	display: block;
	height: 64px;
	font-size: 64px;
	line-height: 64px;
	font-style: normal;
}

.hero-widget label {
	font-size: 17px;
}

.hero-widget .options {
	margin-top: 10px;
}