<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="jumbotron">
				<div class="container">
					<img src="imgs/logo.png" />
					<p>{{'about.desc' | translate }}</p>
				</div>
			</div>
			<span ng-bind-html="'about.main.text' | translate" style="text-align: justify;" ></span>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>