<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="jumbotron">
				<div class="container">
					<h1>
						<img src="imgs/denied.png" alt="..." class="img-circle">{{'acount.ko.error' | translate }}
					</h1>
					<div class="alert alert-danger">{{'acount.ko.error.mess' | translate }}</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>