<div id="myCarousel" class="carousel main-carousel slide">
	<div class="pull-right" ng-hide="games">
		<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
	</div>
	<ol class="carousel-indicators" ng-repeat="game in games">
		<li data-target="#myCarousel" data-slide-to="$index" ng-class="$first && 'active' || ''" />
	</ol>
	<div class="carousel-inner main-carousel-inner" id="carousel-inner" ng-repeat="game in games">
		<div ng-class="$first && 'item active' || 'item'">
			<img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:{{game.name}}" alt="{{game.name}}">
			<div class="container">
				<div class="carousel-caption main-carousel-caption" style="{{game.picture && 'background-image: url(\'api/file/' + game.picture + '\');' || ''}}">
					<div class="slideInfoZone translucent well">
						<h3>{{game.name}}</h3>
						<p>
							{{ensureP(game.description).truncate(180)}} <a class="btn btn-primary btn-xs" href="#/game/{{game.idgame}}">{{ 'learn.more' | translate }}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
		class="glyphicon glyphicon-chevron-right"></span></a>
</div>