<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="pull-right" ng-hide="curgame">
				<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
			</div>
			<div ng-show="curgame">
				<h2 class="text-primary">
					<img src="imgs/game.png" alt="..." class="img-circle"> {{curgame.name}}
				</h2>
				<div class="well">
					<div style="padding-top: 300px;{{curgame.picture && 'width:100%; background-image: url(\'api/file/'+ curgame.picture	+ '\'); height:200px;'||''}}"></div>
				</div>
				<blockquote>
					<p style="text-align: justify">{{ensureP(curgame.description)}}</p>
				</blockquote>
				<dl>
					<dt>Release date :</dt>
					<dd>{{curgame.pubdate | date:'dd/MM/yyyy'}}</dd>
				</dl>
				<dl>
					<dt>Coin name :</dt>
					<dd>{{curgame.coinname}}</dd>
				</dl>
				<div class="well">
					<ul class="list-inline">
						<li ng-show="curgame.andmarketlink"><a href="{{curgame.andmarketlink}}" target="_blank"><img height=40px "  src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" /></a></li>
						<li ng-show="curgame.applestorelink"><a href="{{curgame.applestorelink}}" target="_blank"><img
								src="http://www.apple.com/itunes/affiliates/resources/Download_on_the_App_Store_Badge_US-UK_135x40_0824.png" /></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div sb-left-menu idgame="{{idgame}}"></div>
		</div>
	</div>
</div>