<div class="well sidebar-nav" role="navigation">
	<h3>
		<img src="imgs/game.png" alt="..." class="img-circle" width="64px" height="64px"> {{'game.title' | translate }}
	</h3>
	<ul class="nav  nav-pills nav-stacked" ng-repeat="game in games">
		<li ng-class="game.idgame == idgame  && 'active' || ''"><a href="#/game/{{game.idgame}}">{{game.name}}</a></li>
	</ul>
	<h4>{{'tweets.title' | translate }}</h4>
	<a class="twitter-timeline" href="https://twitter.com/megawapps" data-widget-id="385123403612438529">{{'tweets.follow' | translate }}</a>
	<script>
		!function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
			if (!d.getElementById(id)) {
				js = d.createElement(s);
				js.id = id;
				js.src = p + "://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js, fjs);
			}
		}(document, "script", "twitter-wjs");
	</script>
</div>