
<ul class="nav navbar-nav">
	<li ng-class="pageName  == 'index'  && 'active' || ''"><a href="index.jsp#/"><span class="glyphicon glyphicon-home"></span> {{'header.home' | translate }}</a></li>
	<li ng-class="pageName  == 'scores'  && 'active' || ''"><a href="index.jsp#/scores"><span class="glyphicon glyphicon-stats"></span> {{'header.scoreboard' | translate }}</a></li>
	<li ng-show="user" ng-class="pageName  == 'profil'  && 'active' || ''"><a href="index.jsp#/profil"><span class="glyphicon glyphicon-user"></span> {{'header.profile' | translate }}</a></li>
	<li ng-show="user" ng-class="pageName  == 'shop'  && 'active' || ''"><a href="index.jsp#/shop"><span class="glyphicon glyphicon-gift"></span> {{'header.shop' | translate }}</a></li>
	<li ng-show="user" ng-class="pageName  == 'shopingcart'  && 'active' || ''"><a href="index.jsp#/shopingcart"><span class="glyphicon glyphicon-shopping-cart"></span> {{'header.shoping.cart' | translate }}</a></li>
	<li ng-show="user.admin" ng-class="pageName  == 'admin'  && 'active' || ''"><a href="admin.jsp#/"><span class="glyphicon glyphicon-wrench"></span> {{'header.admin' | translate }}</a></li>
</ul>


<form class="navbar-form navbar-right" role="form" id="login_form" action="api/login" method="post" ng-upload="uploadComplete(content)" ng-upload-loading="startUploading()"
	enctype="application/x-www-form-urlencoded" ng-hide="user">
	<div class="form-group">
		<input type="text" placeholder="{{ 'header.login.email' | translate }}" data-toggle="tooltip" data-html="true" data-placement="bottom" class="form-control" id="login_email" name="login"
			ng-model="email">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" id="login_passwd" name="passwd" placeholder="{{ 'header.login.password' | translate }}" ng-model="passwd">
	</div>
	<button type="submit" class="btn btn-primary" id="login_signin">
		<span class="glyphicon glyphicon-log-in"></span> {{'header.login.signin' | translate }}
	</button>
	<a href="#/signup">{{'header.login.signup' | translate }}</a>
</form>
<div ng-show="user" class="navbar-form navbar-right">
	{{'header.welcome' | translate }} <a href="index.jsp#/profil">{{user.forname}} {{user.name}}</a> | <a ng-click="logoff()"><span class="glyphicon glyphicon-log-out"></span> {{'header.logout' | translate }} </a>
</div>