<div sb-carousel></div>
<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div sb-newsfeed></div>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>