<h3>
	<img id="avatar-pic" src="imgs/news.png" alt="..." class="img-circle" width="64px" height="64px"> {{'news.title' | translate }}
</h3>
<hr />
<div class="list-group" ng-repeat="n in news">
	<div class="list-group-item row">
		<div class="col-md-2">
			<div class="row" align="center">
				<img ng-show="n.user.avatar" id="avatar-pic"  ng- src="{{n.user.avatar && 'api/file/' + n.user.avatar  || 'imgs/user.png' }}" class="img-thumbnail img-responsive" >
			</div>
			<div class="row">
				<dl>
					<dt class="pull-right">
						<h4>{{n.pubdate | date:'yyyy'}}</h4>
					</dt>
					<dd>
						<h2>
							<span class="text-primary">{{n.pubdate | date:'MM'}}</span><span class="text-muted">/{{n.pubdate | date:'dd'}}</span>
						</h2>
					</dd>
					<dd class="pull-right">{{n.user.forname}} {{n.user.name}}</dd>
				</dl>
			</div>
		</div>
		<div class="col-md-10">
			<h3 class="text-primary">{{n.title}}</h3> 
			<blockquote class="pull" ng-bind-html="n.content"></blockquote>
		</div>
	</div>
</div>
<ul class="pagination">
	<li ng-repeat="p in range track by $index" ng-class="page == ($index + 1) && 'active' || ''" ng-click='jump($index+1)'><a>{{$index+1}} </a></li>
</ul>
