<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<img ng-show="user.avatar" id="avatar-pic" ng-src="{{user.avatar && 'api/file/' + user.avatar  || 'imgs/user.png' }}" class="img-thumbnail img-responsive" >
				</div>
				<div class="col-md-8">
					<h1>{{'profile.title' | translate }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="alert alert-danger alert-dismissable" style="display: none" id="error-message"></div>
				<form class="form-horizontal" role="form" action="api/users" method="post" accept-charset="UTF-8" ng-upload="complete(content)" ng-upload-loading="startUploading()" name="form">
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.name' | translate }}</label>
						<div class="col-md-8">
							<input type="hidden" class="form-control" name="idusers" id="idusers" value="{{user.idusers}}"> <input type="text" class="form-control" name="name" placeholder="{{'profile.field.name.po' | translate }}"
								ng-model="user.name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.forname' | translate }} </label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="forname" placeholder="{{'profile.field.forname.po' | translate }}" ng-model="user.forname">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.nick' | translate }} </label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="pseudo" placeholder="{{'profile.field.nick.po' | translate }}" ng-model="user.pseudo">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.address' | translate }} </label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="address" placeholder="{{'profile.field.address.po' | translate }}" ng-model="user.address">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.zipcode' | translate }}</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="zipcode" placeholder="{{'profile.field.zipcode.po' | translate }}" ng-model="user.zipcode">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.city' | translate }}</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="city" placeholder="{{'profile.field.city.po' | translate }}" ng-model="user.city">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.mail' | translate }}</label>
						<div class="col-md-8">
							<input type="email" readonly="readonly" class="form-control" name="email" ng-model="user.email">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.birthdate' | translate }}</label>
						<div class="col-md-4">
							<input type="text" class="form-control span2" placeholder="{{'profile.field.birthdate.po' | translate }}" data-date-format="dd/mm/yyyy" name="birthdate" id="birthdate" value="{{user.birthdate | date:'dd/MM/yyyy'}}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.passwd1' | translate }}</label>
						<div class="col-md-4">
							<input type="password" class="form-control" name="passwd" ng-model="passwd"> {{'profile.field.passwd.desc' | translate }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.passwd2' | translate }}</label>
						<div class="col-md-4">
							<input type="password" class="form-control" name="passwd2" ng-model="passwd2" passwd-check>
						</div>
						<div class="col-md-4">
							<div class="alert alert-danger alert-dismissable" ng-show="errorPasswd">{{'profile.field.passwd.ko' | translate }}</div>
							<div class="alert alert-success alert-dismissable" ng-show="passwdOkMessage">{{'profile.field.passwd.ok' | translate }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">{{'profile.field.avatar' | translate }}</label> <input type="file" name="avatar">
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<a href="#/" class="btn btn-danger">{{'btn.cancel' | translate }}</a> <input type="submit" class="btn btn-primary" value="{{'btn.submit' | translate }}" ng-disabled="$isUploading">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>