<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a href="#/game/{{idgame}}">{{name}}</a>
		</h4>
	</div>
	<div class="panel-body animate-repeat" ng-repeat="s in scores">
		<div class="row">
			<div class="col-md-1">
				<h3>{{$index +1}}</h3>
			</div>
			<div class="col-md-2">
				<img ng-src="{{s.user.avatar && 'api/file/' + s.user.avatar  || 'imgs/user.png' }}" class="img-circle img-responsive pull-left avatar-pic" width="80px" height="80px" />
			</div>
			<div class="col-md-6">
				<h2 class="text-primary">
					{{s.user.pseudo}} <small class="text-muted"> {{s.user.city}}</small>
				</h2>
				<small class="text-muted"> {{s.scoredate | date:'dd/MM/yyyy HH:mm:ss'}}</small>
			</div>
			<div class="col-md-3">
				<h1 class="text-primary pull-right">{{s.score}}</h1>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<ul class="pagination">
			<li ng-repeat="p in range  track by $index" ng-class="page == ($index + 1) && 'active' || ''" ng-click='jump($index+1)'><a>{{$index+1}} </a></li>
		</ul>
	</div>
</div>