<div class="row">
	<div class="well well-sm" ng-repeat="s in items">
		<div class="row">
			<div class="col-xs-3 col-md-3 text-center">
				<img ng-src="{{s.picture && 'api/file/' + s.picture  || 'imgs/product-icon.png' }}" class="img-thumbnail img-responsive"   />
			</div>
			<div class="col-xs-6 col-md-6 section-box">
				<h2>{{s.title}}</h2>
				<hr />
				<p ng-bind-html="s.description"></p>
			</div>
			<div class="col-xs-3 col-md-3 section-box">
				<h3 class="text-primary">{{s.price | currency}}</h3>
				<a href="" ng-click="addItemToCart(s.idstoreitem, s.title)" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> {{'shop.add' | translate }}</a>
			</div>
		</div>
		
	</div>
</div>
	<ul class="pagination">
		<li ng-repeat="p in range  track by $index" ng-class="page == ($index + 1) && 'active' || ''" ng-click='jump($index+1)'><a>{{$index+1}} </a></li>
	</ul>
