<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<h3>
				<img id="avatar-pic" src="imgs/stats2.png" alt="..." class="img-circle"> {{'scores.title' | translate }}
			</h3>
			<div sb-game-detail  ng-repeat="bs in games" name="{{bs.name}}" idgame="{{bs.idgame}}"></div>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>