<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="pull-right" ng-hide="games">
				<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
			</div>
			<h2>
				<span class="glyphicon glyphicon-gift"></span> {{'header.shop' | translate }}
			</h2>
			<ul class="nav nav-pills" ng-repeat="game in games">
				<li ng-click="load(idgame)" ng-class="game.idgame  == idgame  && 'active' || ''"><a href=""><img
						ng-src="api/file/{{game.picture}}" class="img-thumbnail" width="40px" /> {{game.name}}</a></li>
			</ul>
			<hr />
			<div sb-game-shop ng-repeat="bs in games" name="{{bs.name}}" idgame="{{bs.idgame}}"></div>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>