<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="pull-right" ng-hide="loaded">
				<img src="imgs/ajax-loader.gif" alt="loading" class="img-circle">
			</div>
			<h2>
				<span class="glyphicon glyphicon-shopping-cart"></span> {{'header.shoping.cart' | translate }}
			</h2>
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th colspan="2"  translate>shop.product</th>
								<th translate>shop.quantity</th>
								<th class="text-center" translate>shop.price</th>
								<th class="text-center" translate>shop.total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="s in cart"><td class="col-sm-1 col-md-1 text-center">
							<img class="media-object thumbnail" ng-src="{{s.picture && 'api/file/' + s.picture  || 'imgs/product-icon.png' }}" style="width: 100px;"></td>
									<td class="col-sm-8 col-md-6">
									<div class="media">
										<div class="media-body">
											<h4 class="media-heading">{{s.title}}</h4>
											<h5 class="media-heading">
												<a href="index.jsp#/game/{{s.game.idgame}}"><span class="glyphicon glyphicon-link"></span> {{s.game.name}}</a>
											</h5>
										</div>
									</div>
								</td>
								<td class="col-sm-1 col-md-1" style="text-align: center"><input type="email" class="form-control" id="exampleInputEmail1" value="{{s.count}}"></td>
								<td class="col-sm-1 col-md-1 text-center"><strong>{{s.price | currency}}</strong></td>
								<td class="col-sm-1 col-md-1 text-center"><strong>{{s.total | currency}}</strong></td>
								<td class="col-sm-1 col-md-1">
									<button type="button" class="btn btn-danger pull-right" ng-click="remove(s.idstoreitem, s.title)">
										<span class="glyphicon glyphicon-remove"></span>{{'shop.remove' | translate }}
									</button>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><h3 translate>shop.total</h3></td>
								<td class="text-right"><h3>
										<strong>{{total | currency}}</strong>
									</h3></td>
							</tr>
							<tr>
								<td colspan="6" class="text-right"><a href="index.jsp#/shop" class="btn btn-default"> <span class="glyphicon glyphicon-shopping-cart"></span> {{'shop.continue' | translate }}
								</a>
									<button type="button" class="btn btn-success" ng-click="validate()">
										{{'shop.checkout' | translate }} <span class="glyphicon glyphicon-play"></span>
									</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="col-md-4">
			<div sb-left-menu idgames="{{idgames}}"></div>
		</div>
	</div>
</div>