<!doctype html>
<div class="container">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-8">
			<div class="jumbotron">
				<div class="container">
					<h1>
						<img src="imgs/user.png" alt="..." class="img-circle">  {{'signup.title' | translate }}
					</h1>
					<p>{{'signup.desc' | translate }}</p>
				</div>
			</div>
			<div class="alert alert-danger alert-dismissable" style="display: none" id="error-message"></div>

			<form novalidate class="form-horizontal css-form" action="api/users" method="post" accept-charset="UTF-8"
				name="signup_form" ng-upload="complete(content)" ng-upload-loading="startUploading()"
				>
				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.name' | translate }}</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" name="name" placeholder="{{'profile.field.name.po' | translate }}" ng-model="signup.name" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.forname' | translate }}</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" name="forname" placeholder="{{'profile.field.forname.po' | translate }}" required
							ng-model="signup.forname">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.nick' | translate }}</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" name="pseudo" placeholder="{{'profile.field.nick.po' | translate }}" required
							ng-model="signup.pseudo">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.mail' | translate }}</label>
					<div class="col-lg-8">
						<input type="email" class="form-control" name="email"  placeholder="{{'profile.field.mail.po' | translate }}"  required ng-model="signup.email" /> <span class="error"
							ng-show="signupForm.email.$dirty && signupForm.email.$error.required">{{'profile.field.email.required' | translate }}</span><br> <span
							ng-show="signupForm.email.$dirty && signupForm.email.$error.email">{{'profile.field.email.exist' | translate }}</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.birthdate' | translate }}</label>
					<div class="col-lg-4">
						<input type="text" class="form-control span2" placeholder="{{'profile.field.birthdate.po' | translate }}" data-date-format="dd/mm/yyyy"
							name="birthdate" id="birthdate" ng-model="signup.birthdate" required>
					</div>
				</div>
				<div class="form-group">
						<label class="col-lg-4 control-label">{{'profile.field.address' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" name="address" placeholder="{{'profile.field.address.po' | translate }}" ng-model="signup.address">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label">{{'profile.field.zipcode' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" name="zipcode" placeholder="{{'profile.field.zipcode.po' | translate }}" ng-model="signup.zipcode">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label">{{'profile.field.city' | translate }}</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" name="city" placeholder="{{'profile.field.city.po' | translate }}" ng-model="signup.city">
						</div>
					</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.passwd1' | translate }}</label>
					<div class="col-lg-4">
						<input type="password" class="form-control" name="passwd" ng-model="passwd" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.passwd2' | translate }}</label>
					<div class="col-lg-4">
						<input type="password" class="form-control" name="passwd2" ng-model="passwd2" passwd-check>
					</div>
					<div class="col-lg-4">
						<div class="alert alert-danger alert-dismissable" ng-show="errorPasswd">{{'profile.field.passwd.ko' | translate }}</div>
						<div class="alert alert-success alert-dismissable" ng-show="passwdOkMessage">{{'profile.field.passwd.ok' | translate }}</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">{{'profile.field.avatar' | translate }}</label> <input type="file" name="avatar">
				</div>

				<div class="form-group">
					<div class="col-lg-4"></div>
					<div class="col-lg-8">
						<a href="#/" class="btn btn-danger">{{'btn.cancel' | translate }}</a> <input type="submit" class="btn btn-primary" value="{{'btn.submit' | translate }}"
							ng-disabled="$isUploading || !signup_form.$valid">
					</div>
				</div>

			</form>
		</div>
		<div class="col-md-4">
			<div sb-left-menu></div>
		</div>
	</div>
</div>